*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.App{
    background-size: cover;
    background-position: bottom;  
    transition:  1s ease-out;
}

/* WEATHER CONDITIONS */

.Clear{
    background-image: url(./images/Clear.png); 
}

.Drizzle{
    background-image: url(./images/Drizzle.png); 
}

.Rain{
    background-image: url(./images/Rain.png); 
}

.Snow{
    background-image: url(./images/Snow.png); 
}

.Sunny{
    background-image: url(./images/Sunny.png); 
}

.Clouds{
    background-image: url(./images/Clouds.png); 
}

.Thunderstorm{
    background-image: url(./images/Thunderstorm.png); 
}




main{
    min-height: 100vh;
    padding: 25px;
}

.search-box{
    width: 100%;
    margin: 0 0 5px;
}

.search-bar{
    width: 100%;
    padding: 15px;
    appearance: none;
    background: none;
    border: none;
    border-bottom: 2px solid #444444;
    outline: none;
    margin-top: -25px;
}

.location{
    font-weight: 700;
    color: #444444
}

.date{
    padding-bottom: 60vh;
}

.temp{
    font-size: 92px;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.min-max{
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.forecast-today{
padding: 10px 0;
}

.forecast-future-container{
    width: 80vw;
    height: 10vh;

    display: flex;
    flex-direction: row;
}

.future-div{
    height: 80px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.future-icon{
    width: 50px;
    height: 50px;
    background-size: cover;
}